.sticky-action {
  position: sticky;
  right: 0;
  background-color: #ffffff !important;
  z-index: 10;
  padding: 0;
}

/* biar header tetap di atas */
thead .sticky-action {
  z-index: 3;
  background: #f8f9fa;
  width: 100px;
}
